
* {
  font-family: 'Oxygen', sans-serif;
  line-height: 1.5;
}
.main_page {
  background-color:#dab56c;
  margin: auto;
  padding: 50px; 
  padding-top: 35px;
  padding-bottom: 35px;
  }

.title_main {
  background-color:#650000;
  margin: auto;
  padding: 50px; 
  padding-top: 35px;
  padding-bottom: 35px;
  color: white;
  }

.end_information {
  background-color:#650000;
  margin: auto;
  padding: 50px; 
  padding-top: 35px;
  padding-bottom: 35px;
  color: white;
  text-align: center;
}
a {
  font-size: 0.9em;
  font-style: italic;
}
p {
  font-family: "Playfair Display", serif;
  font-size: 1.2rem;
  max-width: 600px;
}
.pure-g {
  margin-bottom: 25px;
  }
#switchButton {
  margin-bottom: 10px;
  }
h1 {
  font-weight: 900;
  font-family: "Playfair Display", serif;
  font-size: 4.0rem;
  text-align: justify;  
  }

h2 {
  margin: auto;
}
viz-container {
  width: 100%
}
b {
  font-style: italic;
  font-weight: bold;
}

#maintext {
  font-family: "Playfair Display", serif;
  font-size: 1.2rem;
}